<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name ="ConnectDB_RU_04" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\РУ - 0,4кВ\TestEasyModbus_TCP_2021_04_20\TestEasyModbus_TCP\TestEasyModbus_TCP\TestEasyModbus_TCP\DataBase\DB_RU_04.mdf;Integrated Security=True" />
  </connectionStrings>
</configuration>